$breakpoints: (
  sm: 0,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1921px,
);


@function breakpoint-next($key) {
  $keys: map-keys($breakpoints);
  $index: index($keys, $key);

  @if $index != null and $index < length($keys) {
    @return map-get($breakpoints, nth($keys, $index + 1));
  }

  @return null;
}

@mixin respond($breakpoint) {
  $min: map-get($breakpoints, $breakpoint);
  $max: breakpoint-next($breakpoint);

  @if $min != null {
    @if $max != null {
      @media (min-width: $min) and (max-width: calc(#{$max} - 0.02px)) {
        @content;
      }
    } @else {
    
      @media (min-width: $min) {
        @content;
      }
    }
  } @else {
    @warn "⚠️ Breakpoint '#{$breakpoint}' не найден в \$breakpoints.";
  }
}
